<%include ../layout.ejs %>

<!--<a href="#">create driver</a>-->

<table border="1" width="100%">
	<tr>
		<th>name</th>
		<th>surname</th>
		<th>patronymic</th>
		<th>birthdate</th>
		<th>open_category</th>
		<th>license</th>
		<th>photo</th>
		<th>id</th>
		<th>phone_number</th>
		<th>comment</th>
		<th>status</th>
		<th>bus_bingind</th>
		<th>company_id</th>
		<th>update</th>
		<th>delete</th>
	</tr>
	<% for(var i=0; i<data.length;i++) { %>
	<tr class="">
		<td><%= data[i].name %></td>
		<td><%= data[i].surname %></td>
		<td><%= data[i].patronymic %></td>
		<td><%= data[i].birthdate %></td>
		<td><%= data[i].open_category %></td>
		<td><%= data[i].license %></td>
		<td><%= data[i].photo %></td>
		<td><%= data[i].id %></td>
		<td><%= data[i].phone_number %></td>
		<td><%= data[i].comment %></td>
		<td><%= data[i].status %></td>
		<td><%= data[i].bus_binding %></td>
		<td><%= data[i].company_id %></td>
		<td><a href="#">upd</a></td>
		<td><a href="#" data-id="<%= data[i].id %>">del</a></td>
	</tr>
	<% } %>
</table>

<form name="add_driver" action="/drivers/add_driver" method="post">
<label>
		<span>name</span>
		<input type="text" name="name"/>
	</label>


	<label>
		<span>surname</span>
		<input type="text" name="surname"/>
	</label>

	<label>
		<span>patronymic</span>
		<input type="text" name="patronymic"/>
	</label>

	<label>
		<span>birthdate</span>
		<input type="text" name="birthdate"/>
	</label>

	<label>
		<span>open category</span>
		<input type="text" name="open_category"/>
	</label>

	<label>
		<span>License</span>
		<input type="text" name="license"/>
	</label>

	<label>
		<span>Photo</span>
		<input type="text" name="photo" />
	</label>

	<label>
		<span>Phone</span>
		<input type="text" name="phone_number"/>
	</label>

	<label>
		<span>Comment</span>
		<textarea name="comment"></textarea>
	</label>

	<label>
		<span>Status</span>
		<input type="text" name="status"/>
	</label>

	<label>
		<span>Bus binding</span>
		<input type="text" name="bus_binding"/>
	</label>

	<label>
		<span>Company ID</span>
		<input type="text" name="company_id"/>
	</label>


	<input type="submit" value="submit" />
</form>

<%include ../partials/foot.ejs %>