<%include ../layout.ejs %>

<form name="driver_view" action="drivers_view" hidden>
	<input type="text" />
	<input type="submit" value="search">
</form>

<!--<a href="#">create driver</a>-->
<table border="1" width="100%">
	<tr>
		<th>name</th>
		<th>surname</th>
		<th>patronymic</th>
		<th>birthdate</th>
		<th>open_category</th>
		<th>license</th>
		<th>photo</th>
		<th>id</th>
		<th>phone_number</th>
		<th>comment</th>
		<th>status</th>
		<th>bus_bingind</th>
		<th>company_id</th>
		<th>update</th>
		<th>delete</th>
	</tr>
	<% for(var i=0; i<data.length;i++) { %>
	<tr class="">
		<td>
			<%= data[i].name %>
		</td>
		<td>
			<%= data[i].surname %>
		</td>
		<td>
			<%= data[i].patronymic %>
		</td>
		<td>
			<%= data[i].birthdate %>
		</td>
		<td>
			<%= data[i].open_category %>
		</td>
		<td>
			<%= data[i].license %>
		</td>
		<td>
			<img width="50" src="/<%= data[i].photo %>" />
		</td>
		<td>
			<%= data[i].d_id %>
		</td>
		<td>
			<%= data[i].phone_number %>
		</td>
		<td>
			<%= data[i].comment %>
		</td>
		<td>
			<%= data[i].status %>
		</td>
		<td>
			<a href="/transport/edit/<%= data[i].bus_binding %>">
				<%= data[i].brand %>
			</a>
		</td>
		<td>
			<%= data[i].company_id %>
		</td>
		<td><a href="drivers/edit/<%= data[i].d_id %>">upd</a></td>
		<td><a href="drivers/del/<%= data[i].d_id %>">del</a></td>
	</tr>
	<% } %>
</table>

<form name="add_driver" action="/drivers/add_driver" method="post" enctype="multipart/form-data">
<label>
		<span>name</span>
		<input type="text" name="name"/>
	</label>


	<label>
		<span>surname</span>
		<input type="text" name="surname"/>
	</label>

	<label>
		<span>patronymic</span>
		<input type="text" name="patronymic"/>
	</label>

	<label>
		<span>birthdate</span>
		<input type="text" name="birthdate"/>
	</label>

	<label>
		<span>open category</span>
		<input type="text" name="open_category"/>
	</label>

	<label>
		<span>License</span>
		<input type="text" name="license"/>
	</label>

	<label>
		<span>Photo</span>
		<input type="file" name="photo" />
	</label>

	<label>
		<span>Phone</span>
		<input type="text" name="phone_number"/>
	</label>

	<label>
		<span>Comment</span>
		<textarea name="comment"></textarea>
	</label>

	<label>
		<span>Status</span>
		<input type="text" name="status"/>
	</label>

	<label>
		<span>Bus binding</span>
		<input type="text" name="bus_binding"/>
	</label>

	<label>
		<span>Company ID</span>
		<input type="text" name="company_id"/>
	</label>


	<input type="submit" value="submit" />
</form>

<%include ../partials/foot.ejs %>