<%include ../layout.ejs %>

<!--<a href="#">create driver</a>-->
<table border="1" width="100%">
	<tr>
		<th>name</th>
		<th>surname</th>
		<th>patronymic</th>
		<th>birthdate</th>
		<th>open_category</th>
		<th>license</th>
		<th>photo</th>
		<th>id</th>
		<th>phone_number</th>
		<th>comment</th>
		<th>status</th>
		<th>bus binding</th>
		<th>company_id</th>
		<th>update</th>
		<th>delete</th>
	</tr>
	<% for(var i=0; i<data.length;i++) { %>
	<tr class="">
		<td><%= data[i].name %></td>
		<td><%= data[i].surname %></td>
		<td><%= data[i].patronymic %></td>
		<td><%= data[i].birthdate %></td>
		<td><%= data[i].open_category %></td>
		<td><%= data[i].license %></td>
		<td><img width="50" src="/<%= data[i].photo %>" /></td>
		<td><%= data[i].d_id %></td>
		<td><%= data[i].phone_number %></td>
		<td><%= data[i].comment %></td>
		<td><%= data[i].status %></td>
		<td>
			<a href="/transport/edit/<%= data[i].bus_binding %>">
				<%= data[i].brand %>
			</a>
		</td>
		<td><%= data[i].company_id %></td>
		<td><a href="drivers/edit/<%= data[i].d_id %>">upd</a></td>
		<td><a href="drivers/del/<%= data[i].d_id %>">del</a></td>
	</tr>
	<% } %>
</table>
<%include ../partials/foot.ejs %>