<%include ../layout.ejs %>

<table border="1" width="100%">
	<tr>
		<th>type</th>
		<th>brand</th>
		<th>model</th>
		<th>equipment</th>
		<th>seats</th>
		<th>class</th>
		<th>id</th>
		<th>government_number</th>
		<th>status</th>
		<th>driver_binding</th>
		<th>company_id</th>
		<th></th>
		<th></th>
	</tr>
<% for(var i=0; i<data.length;i++) { %>
	<tr>
		<td><%= data[i].type %></td>
		<td><%= data[i].brand %></td>
		<td><%= data[i].model %></td>
		<td><%= data[i].equipment %></td>
		<td><%= data[i].seats %></td>
		<td><%= data[i].class %></td>
		<td><%= data[i].t_id %></td>
		<td><%= data[i].government_number %></td>
		<td><%= data[i].status %></td>
		<td>
			<a href="/drivers/edit/<%= data[i].driver_binding %>">

				<%= data[i].name +' ' + data[i].surname +' ' + data[i].patronymic %>
			</a>
		</td>
		<td><%= data[i].company_id %></td>
		<td><a href="transport/edit/<%= data[i].t_id %>">upd</a></td>
		<td><a href="transport/del/<%= data[i].t_id %>">del</a></td>
	</tr>
<% } %>
</table>

<form name="add_transport" action="/transport/add_transport" method="post">
	<label>
		<span>type</span>
		<input type="text" name="mtype" />
	</label>
	<label>
		<span>brand</span>
		<input type="text" name="mbrand" />
	</label>
	<label>
		<span>model</span>
		<input type="text" name="mmodel" />
	</label>
	<label>
		<span>equipment</span>
		<input type="text" name="mequipment" />
	</label>
	<label>
		<span>seats</span>
		<input type="text" name="mseats" />
	</label>
	<label>
		<span>class</span>
		<input type="text" name="mclass" />
	</label>
	<label>
		<span>government_number</span>
		<input type="text" name="mgovernment_number" />
	</label>
	<label>
		<span>status</span>
		<input type="text" name="mstatus" />
	</label>
	<label>
		<span>driver_binding</span>
		<input type="text" name="mdriver_binding" />
	</label>
	<label>
		<span>company_id</span>
		<input type="text" name="mcompany_id" />
	</label>
	<input type="submit" value="submit">
</form>

<%include ../partials/foot.ejs %>